* {
    padding: 0;
    margin: 0;
}

:root {
    --cor-p: #0C0F21;
    --cor-s: #f85151;
    --cor-l: rgb(202, 200, 200);
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    height: 100vh;
    background-color: var(--cor-p);
}

#menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 25px 20px 20px 20px;
    box-shadow: 0px 1px 10px 3px rgba(255, 255, 255, 0.068);
}

#menu a {
    color: var(--cor-l);
    text-decoration: none;
    transition: 0.5s ease-out;
    letter-spacing: 2px;
    
}

#menu a:hover {
    color: var(--cor-s); 
    transform: scale(1.05);
}

#menu a::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--cor-s);
    display: block;
    transition: 0.5s ease-out;
    margin-top: 5px;
}

#menu a:hover::after {
    width: 45%;  
}

main {
    display: flex;
    height: 86vh;
}

#conteudo {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    margin-top: 3em;
}

#conteudo h1 {
    letter-spacing: 2px;
    text-align: center;
    font-size: 1.2em;
    color: var(--cor-l);
    line-height: 1.3em;
}

#estilo-nome {
    color: var(--cor-s);
}

#conteudo p {
    margin-top: 2em;
    letter-spacing: 2px;
    text-align: justify;
    color: var(--cor-l);
    line-height: 1.3em;
}

