* {
    padding: 0;
    margin: 0;
}

:root {
    --cor-p: #0C0F21;
    --cor-s: #f85151;
    --cor-l: rgb(202, 200, 200);
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    height: 100vh;
    background-color: var(--cor-p);
}

/* CONFIGURAÇÕES MENU */

#menu {
    padding: 18px;
    box-shadow: 0px 1px 10px 3px rgba(255, 255, 255, 0.068);
    position: relative;
}

#menu #logo-burguer {
    display: flex;
    justify-content: end;
    color: var(--cor-l);
}

#burguer {
    cursor: pointer;
    font-size: 27px;
}

#lista-menu {
    list-style-type: none;
    text-align: center;
}

.menu-hidden {
    display: none;
}

#lista-menu li {
    padding: 13px 0px 13px 0px;
}

.itens-menu {
    color: var(--cor-l);
    text-decoration: none;
    transition: 0.5s ease-out;
    letter-spacing: 2px;   
}

.itens-menu:hover {
    color: var(--cor-s); 
}



   

/*#menu a {
    color: var(--cor-l);
    text-decoration: none;
    transition: 0.5s ease-out;
    letter-spacing: 2px;
    
}

#menu a:hover {
    color: var(--cor-s); 
    transform: scale(1.05);
}

#menu a::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--cor-s);
    display: block;
    transition: 0.5s ease-out;
    margin-top: 5px;
}

#menu a:hover::after {
    width: 45%;  
} */

/* CONFIGURAÇÕES CONTEÚDO */

#conteudo {
    width: 70%;
    margin: auto;
    margin-top: 7em;
}

#conteudo::after {
    content: '';
    width: 45%;
    height: 2px;
    background-color: var(--cor-s);
    display: block;
    margin-top: 10px;
}

#conteudo h1 {
    letter-spacing: 2px;
    text-align: center;
    font-size: 1.2em;
    color: var(--cor-l);
    line-height: 1.5em;
}

#estilo-nome {
    color: var(--cor-s);
}

#conteudo p {
    font-size: 1.05em;
    margin-top: 2em;
    letter-spacing: 2px;
    text-align: justify;
    color: var(--cor-l);
    line-height: 1.5em;
}

