@media screen and (min-width: 768px) and (max-width: 992px){
    #menu {
        padding: 20px;
    }
    
    #burguer {
        display: none;
    }

    #lista-menu {
        display: flex;
        justify-content: space-around;
    }

    #lista-menu li {
        padding: 0px;
    }

    .itens-menu {
        letter-spacing: 3px;
    }
}