@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --cor-pr: #110920;
    --cor-sc: #03C1EF;
    --cor-pr-detalhes: #292237;
    --cor-lt: rgba(216, 216, 216, 0.87);
}

body {
    background-color: var(--cor-pr);
    font-family: 'Poppins', sans-serif; 
    letter-spacing: 1px;
}


header {
    padding: 10px 15px 3px 0px;
    box-shadow: 0px 0px  5px 3px rgba(216, 216, 216, 0.178);
}

#burguer {
    text-align: right;
}

#burguer span {
    cursor: pointer;  
    color: var(--cor-lt);
    font-size: 29px;
}

#menu-desktop {
    display: none;
}

header #menu-mobile {
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    position: absolute;
    top: 44px;
    height: 0;
    left: 0;
    width: 100%;
    text-align: center;
    list-style: none;
    visibility: hidden;
    overflow: hidden;
    transition: .6s ease;
}

header #menu-mobile.abrir {
    visibility: visible;
    height: 204px;
}

header #menu-mobile li a {
    display: block;
    padding: 13px 0px 13px 0px;
    color: var(--cor-lt);
    text-decoration: none;
    letter-spacing: 2px;
    transition: .6s ease;
}

header #menu-mobile li a:hover {
    background-color: rgba(0, 0, 0, 0.500);
}

/* Corpo */

/* Títutlo */

#titulo-principal {
    text-align: center;
    margin-top: 3em;
}

#titulo-principal h1 {
    display: inline-block;
    color: var(--cor-lt);
    margin-bottom: 60px;
}

#titulo-principal h1::after {
    background-color: var(--cor-sc);
    display: block;
    content: '';
    width: 45%;
    height: 3px;
}

/* Seção Projetos */

#secao-projetos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1440px;
    margin: auto;
}

.titulo-projeto {
    display: inline-block;
    color: var(--cor-lt);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.titulo-projeto::after {
    display: block;
    background-color: var(--cor-sc);
    content: '';
    width: 45%;
    height: 3px;
}

.projetos {
    width: 350px;
    box-shadow: 0px 8px 15px 3px #03c0ef18;
    border: 1px solid var(--cor-sc);
}

.img-projetos {
    width: 100%;
    height: 175px;
}

/* Footer Projetos */

.footer-projetos {
    display: flex;
    padding: 14px 10px;
}

.container-btn {
    width: 50%;
}

.btn-acessar {
    background-color: var(--cor-pr-detalhes);
    padding: 11px 17px;
    cursor: pointer;
    color: var(--cor-lt);
    border-radius: 2px;
    border: none;
    transition: .6s ease;
}

.container-icones {
    width: 50%;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

.icones {
    text-align: right;
    font-size: 32px;
}

.fa-html5 {
    color: #E5532D;
}

.fa-css3-alt {
    color: #3D9DD7;
}

.fa-js {
    color: #F4E225;
}

.fa-bootstrap {
   color: #7E11F8;
}



@media screen and (min-width:992px){
    header {
        padding: 14px 0;
    } 

    #menu-desktop {
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
        max-width: 1440px;
        margin: auto;
    }

    #menu-desktop a {
        text-decoration: none;
        color: var(--cor-lt);
        transition: .4s ease; 
    }

    #menu-desktop a:hover{
        color: var(--cor-sc);
    }

    #menu-desktop a::after {
        background-color: var(--cor-sc);
        display: block;
        content: '';
        width: 0;
        height: 3px;
        transition: .4s ease;
    }

    #menu-desktop a:hover::after {
        width: 45%;
    }

    #burguer {
        display: none;
    }
}

@media screen and (min-width: 1024px){
    .titulo-projeto {
        font-size: 24px;
    }

    .projetos {
        width: 600px;
        box-shadow: 0px 8px 15px 3px #03c0ef18;
        border: 1px solid var(--cor-sc);
    }

    .img-projetos {
        height: 330px;
    }

    .btn-acessar {
        padding: 13px 23px;
    }

    .btn-acessar:hover {
        background-color: var(--cor-sc);
    }

    .container-icones {
        gap: 8px;
    }

    .icones {
        text-align: right;
        font-size: 36px;
    }
}
/*------FOOTER SEÇÕES------*/



