@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --cor-pr: rgb(12, 15, 33);
    --cor-sc: rgb(228, 63, 63);
    --cor-lt: rgba(216, 216, 216, 0.87);
}

body {
    background-color: var(--cor-pr);
    font-family: 'Poppins', sans-serif; 
    letter-spacing: 1px;
}


header {
    padding: 10px 15px 3px 0px;
    box-shadow: 0px 0px  5px 3px rgba(216, 216, 216, 0.178);
}

#burguer {
    text-align: right;
}

#burguer span {
    cursor: pointer;  
    color: var(--cor-lt);
    font-size: 29px;
}

header ul {
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    position: absolute;
    top: 44px;
    height: 0;
    left: 0;
    width: 100%;
    text-align: center;
    list-style: none;
    visibility: hidden;
    overflow: hidden;
    transition: .6s ease;
}

header ul.abrir {
    visibility: visible;
    height: 204px;
}

header ul li a {
    display: block;
    padding: 13px 0px 13px 0px;
    color: var(--cor-lt);
    text-decoration: none;
    letter-spacing: 2px;
    transition: .6s ease;
}

header ul li a:hover {
    background-color: rgba(0, 0, 0, 0.500);
}

/* Corpo */

/* Títutlo */

#titulo-principal {
    text-align: center;
    margin-top: 3em;
}

#titulo-principal h1 {
    display: inline-block;
    color: var(--cor-lt);
    margin-bottom: 60px;
}

#titulo-principal h1::after {
    background-color: var(--cor-sc);
    display: block;
    content: '';
    width: 45%;
    height: 3px;
}

/* Seção Projetos */

#secao-projetos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.container-projetos {
    width: 350px;
}

.titulo-projeto {
    display: inline-block;
    color: var(--cor-lt);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.titulo-projeto::after {
    display: block;
    background-color: var(--cor-sc);
    content: '';
    width: 45%;
    height: 3px;
}

.projetos {
    box-shadow: 0px 8px 15px 1px rgba(255, 255, 255, 0.082);
    border: 1px solid var(--cor-lt);
}

.img-projetos {
    width: 100%;
    height: 175px;
}

/* Footer Projetos */

.footer-projetos {
    display: flex;
    padding: 8px;
}

.container-btn {
    width: 50%;
}

.btn-acessar {
    background-color: rgba(23, 24, 29, 0.438);
    border: 1px solid var(--cor-lt);
    padding: 9px 13px;
    cursor: pointer;
    color: var(--cor-lt);
    border-radius: 3px;
}

.container-icones {
    width: 50%;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

.icones {
    text-align: right;
    font-size: 27px;
}

.fa-html5 {
    color: #E5532D;
}

.fa-css3-alt {
    color: #3D9DD7;
}

.fa-js {
    color: #F4E225;
}
/*------FOOTER SEÇÕES------*/



