@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
}

:root {
    --cor-pr: #110920;
    --cor-sc: #03C1EF;
    --cor-pr-detalhes: #292237;
    --cor-lt: rgba(216, 216, 216, 0.87);
}

body {
    background-color: var(--cor-pr);
    font-family: 'Poppins', sans-serif;
}

header {
    padding: 10px 15px 3px 0px;
    box-shadow: 0px 0px  5px 3px rgba(216, 216, 216, 0.178);
}

#burguer {
    text-align: right;
}

#burguer span {
    cursor: pointer;  
    color: var(--cor-lt);
    font-size: 29px;
}

#menu-desktop {
    display: none;
}

header #menu-mobile {
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    position: absolute;
    top: 44px;
    height: 0;
    left: 0;
    width: 100%;
    text-align: center;
    list-style: none;
    visibility: hidden;
    overflow: hidden;
    transition: .6s ease;
}

header #menu-mobile.abrir {
    visibility: visible;
    height: 204px;
}

header #menu-mobile li a {
    display: block;
    padding: 13px 0px 13px 0px;
    color: var(--cor-lt);
    text-decoration: none;
    letter-spacing: 2px;
    transition: .6s ease;
}

header #menu-mobile li a:hover {
    background-color: rgba(0, 0, 0, 0.500);
}



/* Corpo */

/* Título Principal */

#titulo-principal {
    text-align: center;
    margin-top: 3em;
}

#titulo-principal h1 {
    display: inline-block;
    color: var(--cor-lt);
}

#titulo-principal h1::after {
    background-color: var(--cor-sc);
    display: block;
    content: '';
    width: 45%;
    height: 3px;
}

/* Desktop container */

#container-desktop {
    max-width: 1440px;
    margin: auto;
}

/* Container Habilidades */

#container-hab {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    margin-top: 3em;
}

.habilidades {
    background-color: var(--cor-pr-detalhes);
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 8px;
    
    width: 320px;  

    border-left: 1px solid var(--cor-sc);
    border-bottom: 1px solid var(--cor-sc); 
    box-shadow: -4px 6px 7px 0px #45cff11c;
}

.habilidades p {
    color: var(--cor-lt);
    font-weight: bold;
    font-size: 18px;
}


.fa-brands {
    font-size: 38px;
}

.fa-html5 {
    color: #E5532D;
}

.fa-css3-alt {
    color: #3D9DD7;
}

.fa-js {
    color: #ecda1d;
}

#container-img {
    text-align: center;
}

img {
    width: 340px;
    margin-top: 2em;
}

@media screen and (min-width: 992px){
        header {
            padding: 14px 0;
        } 
    
        #menu-desktop {
            display: flex;
            justify-content: space-evenly;
            list-style-type: none;
            max-width: 1440px;
            margin: auto;
        }
    
        #menu-desktop a {
            text-decoration: none;
            color: var(--cor-lt);
            transition: .4s ease; 
        }
    
        #menu-desktop a:hover{
            color: var(--cor-sc);
        }
    
        #menu-desktop a::after {
            background-color: var(--cor-sc);
            display: block;
            content: '';
            width: 0;
            height: 3px;
            transition: .4s ease;
        }
    
        #menu-desktop a:hover::after {
            width: 45%;
        }
    
        #burguer {
            display: none;
        }

    #container-hab {
        align-items: start;
    }

    .habilidades {
        margin-left: 5em;
    }

    #container-img {
        text-align: right;
    }

    img {
        width: 600px;
        margin-right: 4em;
    }

}

@media  screen and (min-width: 1240px) {
    .habilidades {
        margin-left: 7em;
        width: 420px;
    }

    img {
        margin-right: 5em;
        width: 650px;
    }
}

@media screen and (min-width: 1440px){
    
    .habilidades {
        margin-left: 2em;
    }

    img {
        width: 750px;
        margin-top: -2em;
        margin-right: 2em;
    }

}
