@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
}

:root {
    --cor-pr: rgb(12, 15, 33);
    --cor-sc: rgb(228, 63, 63);
    --cor-lt: rgba(216, 216, 216, 0.87);
}

body {
    background-color: var(--cor-pr);
    font-family: 'Poppins', sans-serif;
}

header {
    padding: 10px 15px 3px 0px;
    box-shadow: 0px 0px  5px 3px rgba(216, 216, 216, 0.178);
}

#burguer {
    text-align: right;
}

#burguer span {
    cursor: pointer;  
    color: var(--cor-lt);
    font-size: 29px;
}

header ul {
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    position: absolute;
    top: 44px;
    height: 0;
    left: 0;
    width: 100%;
    text-align: center;
    list-style: none;
    visibility: hidden;
    overflow: hidden;
    transition: .6s ease;
}

header ul.abrir {
    visibility: visible;
    height: 204px;
}

header ul li a {
    display: block;
    padding: 13px 0px 13px 0px;
    color: var(--cor-lt);
    text-decoration: none;
    letter-spacing: 2px;
    transition: .6s ease;
}

header ul li a:hover {
    background-color: rgba(0, 0, 0, 0.500);
}

/*---------------------------------------------*/

#titulo {
    text-align: center;
    margin-top: 3em;
    color: var(--cor-lt);
}

#titulo h1 {
    display: inline-block;
}

#titulo h1::after {
    background-color: var(--cor-sc);
    display: block;
    content: '';
    width: 45%;
    height: 3px;
}


#container-icons {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 60px;


    margin-top: 60px;
    padding: 15px;
}

#container-icons div {
    display: flex;
    justify-content: space-around;

    width: 100%;
}

#container-icons div .icons {
    font-size: 68px;
    color: var(--cor-lt);
}

/*-----footer-----*/
#container-img {
    display: flex;
    justify-self: center;
    align-items: center;
    margin: auto;
}

#container-img img {
    width: 80%;
    max-width: 500px;
    margin-top: 10%;
    margin: 10% auto 50px auto;
}